<a href="/recipes/{{id}}" class="recipe-summary">
  <h3 class="recipe-summary-name">{{name}} ({{cuisine}})</h3>
  <span class="stars">{{stars}} &#x2726;</span>
  <p class="recipe-info">Serves: {{serves}} | Prep: {{prep_time}} | Cooking: {{cooking_time}}</p>
</a>
